.cart-container { 
    padding: 150px 7vw;
}

.cart-item { 
    width: 60dvw;
    height: 20dvh;
    padding: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
}

.cart-product-thumbnail { 
    height: 100%;
    width: 20%;
    object-fit: cover;
    border-radius: 24px;
}

.cart-product-head { 
    font-size: clamp(20px, 1.5vw, 50px);
}

.cart-product-data { 
    font-size: clamp(16px, 0.6vw, 42px);
}

.cart-container-ar { 
    direction: rtl;
}

@media screen and (max-width: 767px) {
    .cart-container { 
    padding: 150px 3vw;
}
    .cart-item { 
        width: 90dvw;
        padding: 8px;
    }

    .cart-product-data { 
        width: 50dvw;
    }

    .cart-btn { 
        width: 100px !important;
        min-width: 50px !important;
    }

    .cart-product-thumbnail { 
        width: 25%;
    }
}