.latest-products-container { 
    padding: 50px 105px;
    width: 100dvw;
}

.latest-products-container h1 { 
    width: 100%;
}

.latest-products-heading { 
    text-wrap: nowrap;
}

@media screen and (max-width: 767px) {
    .show-all-btn { 
        height: 40px !important;
    }
}